@media only screen and (max-width: 350px){
    .grad{
        flex-direction: row;
        
    }
}

.hranilica{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 80px;
}
.divZaHranilice{
    display: flex;
    flex-direction: row;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

.lokacija{
    border: 1px solid red;
    margin: 5px 0px;
    padding: 5px;
    display: flex;
    flex-basis:350px;
    flex-shrink: 0;
    flex-direction: column;
}

.forma{
    flex-basis: 30%;
    height: 600px;
    border:  1px solid blue;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

h3{
    text-align: center;
    margin: 5px;
    align-self: center;
}
button{
    margin: 0px 5px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grad{
    display: flex;
    flex-basis: 350px;
    justify-content: space-around;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    border: 1px solid green;
}

.fillMeso{
    background-color: #c2746e;
    text-align: center;
}

.fillGranule{
    background-color: #70b7c2;
    text-align: center;
}

.frmHrana{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.frmHranilica{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.frmLokacija{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}