.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px 0px;
}
.forma {
  border: 1px solid blue;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}
.grad {
  display: flex;
  flex-basis: 350px;
  justify-content: space-around;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 1;
  border: 1px solid green;
}
.lokacija {
  border: 1px solid red;
  margin: 5px 0px;
  padding: 5px;
  display: flex;
  flex-basis: 200px;
  flex-shrink: 0;
  flex-direction: column;
}
.divZaHranilice {
  display: flex;
  flex-direction: row;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.hranilica {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 80px;
  display: flex;
  flex-direction: column-reverse;
}
h2{
  text-align: center;
}
h3 {
  text-align: center;
  margin: 5px;
  align-self: center;
}
button {
  margin: 5px;
}

.fillMeso {
  background-color: #c2746e;
  text-align: center;
}

.fillGranule {
  background-color: #70b7c2;
  text-align: center;
}

.frmHrana {
  display: flex;
  flex-direction: column;
}

.frmHranilica {
  display: flex;
  flex-direction: column;
}

.frmLokacija {
  display: flex;
  flex-direction: column;
}
.dugmeJediDiv{
    display: flex;
    flex-direction: column;
}
