.hranilica{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    flex-grow: 1;
    text-align: center;
    justify-content: flex-end;
}

.lokacija{
    border: 1px solid red;
    margin: 5px 0px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
}

.forma{
    flex-basis: 30%;
    border:  1px solid blue;
    padding: 5px 10px;
}

h3{
    text-align: center;
    margin: 5px;
    align-self: center;
}
button{
    margin: 0px 5px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grad{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-basis: 60%;
    flex-grow: 1;
    border: 1px solid green;
}

.fillMeso{
    background-color: #c2746e;
    text-align: center;
}

.fillGranule{
    background-color: #70b7c2;
    text-align: center;
}